.image-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap; /* รองรับหน้าจอเล็ก */
}

.image-box {
    text-align: center;
}

.image-box img {
    width: 500px;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}
